[data-theme="dark"] {
  --primary: 215 54% 48%; /* Light blue */
  --primary-foreground: 210 40% 98%; /* Light text */

  --secondary: 217.2 32.6% 17.5%; /* Dark gray-blue */
  --secondary-foreground: 210 40% 98%; /* Light text */

  --destructive: 0 62.8% 30.6%; /* Darker red */
  --destructive-foreground: 210 40% 98%; /* Light text */

  --accent: 217.2 32.6% 17.5%; /* Dark accent */
  --accent-foreground: 210 40% 98%; /* Light text */

  --background: hsl(210 4% 10%); /* Dark background */
  --card-background: hsl(
    210 3% 15%
  ); /* Lighter card background for increased contrast */
  --input: 217.2 32.6% 17.5%; /* Dark gray for borders */

  --ring: 212.7 26.8% 83.9%;
}
